
@media (max-width: 1200px){
	.header .banner h1{
		font-size: 40px;
	}

	.header .banner p{
		font-size: 30px;
		color: var(--sub-color);
		font-weight: lighter;
		font-family: 'Roboto', sans-serif;
	}
}

@media (max-width: 768px){

	*{
		font-size: 20px;
	}

	.header .banner h1 {
	    font-size: 50px;
	}

	.section-title h2 {
	    font-size: 42px;
	}

	.section-pading {
	    padding: 30px 0;
	}

	.row{
		margin: 0 30px;
	}

	.about-item {
	    width: 100%;
	}

	.program-items{
		width: 100%;
		margin: 10px;
	}

	.feedback-item{
		width: 100%;
		margin: 10px;
	}

	.news-items{
		width: 100%;
		width: calc(100%/3);
	}

	.news-items-text h3 {
		font-size: 12px;
		padding: 5px;
	}

	.footer-item{
		width: 100%;
		margin: 10px;
		width: calc(100%/3);
	}

	.footer p {
		font-size: 12px;
	}
}

@media (max-width: 375px){
	*{
		font-size: 16px;
	}

	.row{
		margin: 0 20px;
	}

	.header {
	    height: 60vh;
	}

	.header .banner h1{
		font-size: 28px;
	}

	.header .banner p{
		font-size: 20px;
		color: var(--sub-color);
		font-weight: lighter;
		font-family: 'Roboto', sans-serif;
	}

	.about-item-img span {
		font-weight: bold;
	    font-size: 16px;
	}

	.program-items{
		width: 100%;
		margin: 5px 20px;
		padding: 40px 0 10px 0;
	}

	.section-title h2::before{
		font-size: 20px;
	}

	.section-title h2{
		font-size: 20px;
		color: var(--text-color);
	}

	.section-title{
		width: 100%;
		margin-bottom: 10px;
	}

	.news-items{
		width: 100%;
	}


	.news-items-text {
		padding: 0;
	}

	.news-items-text h3 {
		font-size: 16px;
		padding: 20px;
	}

	.footer-item{
		width: 100%;
		margin: 10px;
	}

	.footer p {
		font-size: 16px;
	}

	.footer-copyright {
		font-size: 12px;
	}

	.menu-items{
		padding: 60px 30px;
		width: 300px;
	}

	.menu-items a{
		font-size: 18px;
	}
}